{
  "plugins": [
    "babel-plugin-polished",
    "transform-decorators-legacy",
    ["module-resolver", {
      "alias": {
        "components": "./components",
        "utils": "./utils",
        "store": "./store",
        "containers": "./containers",
        "THOUGHT": "./TEMP-DATA/gifts.js"
      }
    }]
  ],
  "env": {
    "development": {
      "presets": "next/babel",
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": true,
          "ssr": true
        }]
      ]
    },
    "production": {
      "presets": "next/babel",
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": true,
          "ssr": true
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  }
}
