{
  "plugins": [
    "babel-plugin-polished",
    ["module-resolver", {
      "alias": {
        "components": "./components",
        "utils": "./utils",
        "store": "./store",
        "containers": "./containers"
      }
    }]
  ],
  "env": {
    "development": {
      "presets": "next/babel",
      "plugins": [
        "transform-decorators-legacy",
        ["babel-plugin-styled-components", {
          "displayName": true,
          "ssr": true
        }],
        ["module-resolver", {
          "alias": {
            "THOUGHT": "./TEMP-DATA/gifts.js"
          }
        }]
      ]
    },
    "production": {
      "presets": "next/babel",
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": true,
          "ssr": true
        }],
        ["module-resolver", {
          "alias": {
            "THOUGHT": "./utils/temp.js"
          }
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  }
}
