{
  "presets": "next/babel",
  "plugins": [
    "transform-decorators-legacy",
    "babel-plugin-polished",
    ["module-resolver", {
      "alias": {
        "components": "./components",
        "utils": "./utils",
        "lib": "./lib",
        "sections": "./sections",
        "store": "./store",
        "containers": "./containers",
        "THOUGHT": "./TEMP-DATA/gifts.js"
      }
    }],
    ["styled-components", {
      "ssr": true,
      "displayName": true,
      "preprocess": false
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": true,
          "ssr": true
        }]
      ]
    },
    "production": {
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": true,
          "ssr": true
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }]
      ]
    }
  }
}
