{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/react-in-jsx-scope": 2 // Require jsx files to import React
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
