.main {
  max-width: 450px;
  margin: 0 auto;
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePhoto {
  width: 100%;
  border-radius: 100%;
  margin-bottom: 64px;
}

.red {
  color: #c31130;
}

.redAnchor {
  composes: red;
  text-decoration: underline;
  cursor: pointer;
}
