.main {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePhoto {
  width: 100%;
  border-radius: 100%;
  margin-bottom: 64px;
  margin-top: 64px;
}

.intro {
  margin-bottom: 64px;
}

.divider {
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 33%;
}

.akagiLogo {
  max-width: 100px;
  margin-top: 256px;
  margin-bottom: 256px;
}
