/* via https://medium.com/better-programming/how-to-set-up-next-js-with-tailwind-css-b93ccd2d4164 */

/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */
@tailwind  utilities;
